/*
background color: 	#B0C4DE
output background color: #778899
operator button color: #F08080
operator button font color: #F5FFFA
number button color: #E0FFFF
click on number button color: #ADD8E6
equal button color: #E6E6FA
clear button color: #E6E6FA
*/

section {
  width: 500px;
  height: 750px;
  background-color: #778899;
  border: none;
  border-radius: 10px;
  padding: 25px;
}

div {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  font-family: 'Gill Sans', Arial, sans-serif;
}

button {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: none;
  color: #708090;
  font-size: 20px;
  border-radius: 10px;
}

.number {
  background-color: #E0FFFF;
}

.operator {
  background-color: #F08080;
  color: 	#F5FFFA;
}

.hard-mode {
  background-color: #F08080;
  color: 	#F5FFFA;
  width: 220px;
  height: 100px;
}

#dec-btn {
  background-color: #E0FFFF;
}

#eql-btn {
  background-color: #E6E6FA;
}

#clr-btn {
  background-color: #E6E6FA;
}


#viewer {
  background-color: #B0C4DE;
  width: 340px;
  height: 90px;
  margin: 10px;
  padding: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

#answers {
  color: #F5FFFA;
  font-family: 'American Typewriter';
  font-size: 24px;
  text-align: right;
}
